* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  line-height: 1;
  list-style: none;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

@media (max-aspect-ratio: 7/10) {
  .WelcomePage {
    display: flex;
    align-items: flex-start !important;
    justify-content: center;
  }

  .WelcomeContainer {
    margin-top: 30vw !important;
    width: 100% !important;
  }

  .WelcomeContainer > h1 {
    width: 65vw !important;
    padding: 3vw !important;
    border-bottom: 0.6vw solid white !important;
    font-size: 6vw !important;
  }

  #welcomeInput {
    width: 65vw !important;
    margin: 5vw !important;
    padding: 4vw !important;
    font-size: 5vw !important;
  }

  .welcomeBtn {
    width: 65vw !important;
    padding: 4vw !important;
    font-size: 5vw !important;
  }

  .chatContainer {
    background-color: white;
    height: 100% !important;
    width: 100% !important;
  }

  .chatHeader {
    height: 10% !important;
  }

  .chatHeader > h2 {
    margin: 8vw !important;
    font-size: 5vw !important;
  }

  .chatHeader img {
    margin: 6vw !important;
    transform: scale(2) !important;
  }

  .chatBox {
    height: 80% !important;
  }

  .inputBox {
    height: 10% !important;
  }

  #chatInput {
    padding: 4vw !important;
    font-size: 4vw !important;
  }

  .messageBox {
    margin: 3vw !important;
    padding: 3vw !important;
    border-radius: 1.5vw !important;
    font-size: 3.7vw !important;
  }
}
